* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

.container {
    width: 1280px;
    padding: 10px;
}

.block {
    margin-bottom: 10px;
    padding: 10px;
    height: 150px;
    font-family: 'Roboto', sans-serif;
}

.block:nth-child(odd):not(:nth-child(3)) {
    background: #55B3B9;
}

.block:nth-child(even):not(:nth-child(4)) {
    background: #C56060;
    margin-left: auto;
}

.block:nth-child(odd):not(:nth-child(1)) {
    background: #8FC091;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.block:nth-child(even):not(:nth-child(2)) {
    background: #8F86AF;
    text-decoration: line-through;
}

.block:nth-child(odd) {
    width: 75%;

}

.block:nth-child(even) {
    width: 50%;
}

h1 {
    font-size: 3.5em;
    font-weight: 900;
}

h2 {
    font-size: 2.625em;
    font-weight: 500;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
    font-family: 'Sail', serif;

}

.block:nth-child(odd):not(:nth-child(1)) h3 {
    font-size: 1rem;
    text-decoration: underline;
    text-transform: uppercase;
}

